html{
    background-color: #131313;
    color: white;
    font-family: Verdana;
    text-align: center;
}
a{
    text-decoration: none;
    color: aquamarine;
    text-align: start;
}
a:hover{
    color: aqua;
}
p{
    text-align: justify;
}
h1{
    color: #1c7;
}
h2{
    color: #1c7;
}
h3{
    color: #a454ff;
    text-align: left;
}